<!-- creating the tag parts of the heroes component -->
<!-- <p>heroes works!</p> -->

<!-- two way binding -->
<!-- <div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div> -->

<!-- <div><span>id: </span>{{ hero.id }}</div> -->
<!-- <div>
  <h2>{{ hero.name | uppercase }} Details</h2>
</div> -->

<div>
  <h2>My Heroes</h2>
  <ul class="heroes">
    <!-- to iterate on array of heroes -->
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
      </a>
    </li>
  </ul>
</div>
